[user]
	name = Vadim Andronov
	email = vadimadr@gmail.com
[alias]
	co = checkout
	c = commit
	cm = commit -m 
	sw = switch
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	lc = log --name-status -1
	st = status -s
	s = status -s
	br = branch
	b = branch
	r = reset
	diff = diff --word-diff
	unstage = rm --cached -r
	amend = commit --amend
	sub = submodule update --init --recursive
	dlc = diff --cached HEAD^

	show-status = show --name-status
	ss = show-status
	# logging 
	graph = log --all --graph --decorate --pretty=oneline --abbrev-commit
	tree = graph
	gr = graph
	tr = gr
	g5 = graph HEAD~5..HEAD
	g10 = graph HEAD~5..HEAD

	ls = log --all --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = ls
	l5 = ls HEAD~5..HEAD
	l10 = ls HEAD~10..HEAD
[core]
	editor = vim
	autocrlf = input
	pager = less -FRSX
[merge]
	tool = meld
[diff]
	tool = meld
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	# by-default push current branch to a branch with the same name.
	default = current
[pull]
	default = current
