[submodule "tmux/.tmux/plugins/tmux-sessionist"]
	path = tmux/.tmux/plugins/tmux-sessionist
	url = https://git::@github.com/tmux-plugins/tmux-sessionist
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-pain-control"]
	path = tmux/.tmux/plugins/tmux-pain-control
	url = https://git::@github.com/tmux-plugins/tmux-pain-control
[submodule "tmux/.tmux/plugins/tmux-current-pane-hostname"]
	path = tmux/.tmux/plugins/tmux-current-pane-hostname
	url = https://git::@github.com/soyuka/tmux-current-pane-hostname
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url = https://git::@github.com/tmux-plugins/tmux-copycat
[submodule "vim/.vim/plugged/auto-pairs"]
	path = vim/.vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/plugged/youcompleteme"]
	path = vim/.vim/plugged/youcompleteme
	url = https://github.com/valloric/youcompleteme.git
[submodule "vim/.vim/plugged/vim-sensible"]
	path = vim/.vim/plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/plugged/syntastic"]
	path = vim/.vim/plugged/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/plugged/vim-fugitive"]
	path = vim/.vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/plugged/nerdtree"]
	path = vim/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/plugged/L9"]
	path = vim/.vim/plugged/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/.vim/plugged/FuzzyFinder"]
	path = vim/.vim/plugged/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/.vim/plugged/vim-easymotion"]
	path = vim/.vim/plugged/vim-easymotion
	url = https://github.com/lokaltog/vim-easymotion.git
[submodule "vim/.vim/plugged/vim-surround"]
	path = vim/.vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/plugged/sparkup"]
	path = vim/.vim/plugged/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "vim/.vim/plugged/rails.vim"]
	path = vim/.vim/plugged/rails.vim
	url = https://github.com/vim-scripts/rails.vim.git
[submodule "vim/.vim/plugged/vim-autoclose"]
	path = vim/.vim/plugged/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/.vim/plugged/ctrlp.vim"]
	path = vim/.vim/plugged/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "zsh/.zshrc.d/antigen-bundles/zdharma/fast-syntax-highlighting"]
	path = zsh/.zshrc.d/antigen-bundles/zdharma/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "zsh/.zshrc.d/antigen-bundles/robbyrussell/oh-my-zsh"]
	path = zsh/.zshrc.d/antigen-bundles/robbyrussell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/.zshrc.d/antigen-bundles/sindresorhus/pure"]
	path = zsh/.zshrc.d/antigen-bundles/sindresorhus/pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh/.zshrc.d/antigen-bundles/ohmyzsh/ohmyzsh"]
	path = zsh/.zshrc.d/antigen-bundles/ohmyzsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.zshrc.d/antigen-bundles/zsh-users/zsh-completions"]
	path = zsh/.zshrc.d/antigen-bundles/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zshrc.d/antigen-bundles/zsh-users/zsh-history-substring-search"]
	path = zsh/.zshrc.d/antigen-bundles/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.zshrc.d/antigen-bundles/zsh-users/zsh-autosuggestions"]
	path = zsh/.zshrc.d/antigen-bundles/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zshrc.d/antigen-bundles/mafredri/zsh-async"]
	path = zsh/.zshrc.d/antigen-bundles/mafredri/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "zsh/.zshrc.d/antigen"]
	path = zsh/.zshrc.d/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "tmux/.tmux/plugins/tmux-better-mouse-mode"]
	path = tmux/.tmux/plugins/tmux-better-mouse-mode
	url = https://git::@github.com/nhdaly/tmux-better-mouse-mode
[submodule "zsh/.zshrc.d/antigen-bundles/zdharma-continuum/fast-syntax-highlighting"]
	path = zsh/.zshrc.d/antigen-bundles/zdharma-continuum/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/.zshrc.d/antigen-bundles/agkozak/zsh-z"]
	path = zsh/.zshrc.d/antigen-bundles/agkozak/zsh-z
	url = https://github.com/agkozak/zsh-z.git
